{# Page d'accueil #}
{% include "base.html.twig" %}

<section id="accueil">
    <div class="container">
        <div class="divAccueil">
            <h1>TROUVEZ VOTRE CHEZ-VOUS IDÉAL</h1>
            <p>Explorez des maisons, appartements, et bureaux adaptés à vos besoins.</p>
            <div class="divMiniFiltre">
                <div class="divRecherche">
                    <input class="input" type="text">
                </div>
                <div class="divTypeBien">
                    <a class="btnChoixNotActive" href="">Acheter</a>
                    <a class="btnChoixActive" href="">Louer</a>
                </div>
                <div class="div3Filtres">
                    <select id="type-bien" name="type-bien" class="select">
                    {% for typeAnnonce in typeAnnonces %}
                        <option value="appartement">{{ typeAnnonce.typeAnnonce }}</option>
                    {% endfor %}
                    </select>
                    <select id="prix-bien-location" name="prix-bien-appartement" class="select">
                        <option value="prix1">0€ - 500€</option>
                        <option value="prix2">500€ - 1000€</option>
                        <option value="prix3">1000€ - 1500€</option>
                        <option value="prix4">1500€ - 2000€</option>
                        <option value="prix5">2000€ - 3000€</option>
                        <option value="prix6">3000€ et plus</option>
                    </select>
                    <!-- <select id="prix-bien-achat" name="prix-bien-maison" class="select">
                        <option value="prix1">50 000€ - 100 000€</option>
                        <option value="prix2">100 000€ - 150 000€</option>
                        <option value="prix3">150 000€ - 200 000€</option>
                        <option value="prix4">200 000€ - 300 000€</option>
                        <option value="prix5">300 000€ - 500 000€</option>
                        <option value="prix6">500 000€ et plus</option>
                    </select> -->
                    <a class="btnPlus" href="">Plus de filtre +</a>
                </div>
            </div>
        </div>
        <div class="divPublicationsV">
            <h2>Dernières publications à vendre</h2>
            <div class="containerPublications">
            {% for annonce in annonces %}
                {% if annonce.categorie.typeAchat == 'vendre' %}
                    <a href="detailbien.html" class="cardBienV cardBien">
                        <span class="likeBienNotActive"><img src="{{ asset('build/images/icons/like.png') }}" alt="Like"></span>
                        <div class="divImg">
                                {% if annonce.photos|length > 0 %}
                                    <img src="{{ annonce.photos|first.url }}" alt="Image de prévisualisation du bien">
                                {% else %}
                                    <img src="{{ asset('build/images/default-image.png') }}" alt="Image par défaut">
                                {% endif %}
                        </div>
                        <div class="divContent">
                            <p class="typeBien">{{ annonce.typeAnnonce.typeAnnonce }}</p>
                            <h4 class="prixBien"><span class="prix">{{ annonce.prix }}</span>€</h4>
                            <p class="infosBien"><span class="chbr">{{ annonce.caracteristiques.nombreChambres }}</span> ch. | <span class="surfaceH">{{ annonce.caracteristiques.surfaceHabitable }}</span> m²</p>
                            <p class="adresseBien">{{ annonce.localisation.codePostal }} {{ annonce.localisation.ville }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="divPublicationsL">
            <h2>Dernières publications à louer</h2>
            <div class="containerPublications">
            {% for annonce in annonces %}
                {% if annonce.categorie.typeAchat == 'louer' %}
                    <a href="detailbien.html" class="cardBienV cardBien">
                        <span class="likeBienNotActive"><img src="{{ asset('build/images/icons/like.png') }}" alt="Like"></span>
                        <div class="divImg">
                                {% if annonce.photos|length > 0 %}
                                    <img src="{{ annonce.photos|first.url }}" alt="Image de prévisualisation du bien">
                                {% else %}
                                    <img src="{{ asset('build/images/default-image.png') }}" alt="Image par défaut">
                                {% endif %}
                        </div>
                        <div class="divContent">
                            <p class="typeBien">{{ annonce.typeAnnonce.typeAnnonce }}</p>
                            <h4 class="prixBien"><span class="prix">{{ annonce.prix }}</span>€</h4>
                            <p class="infosBien"><span class="chbr">{{ annonce.caracteristiques.nombreChambres }}</span> ch. | <span class="surfaceH">{{ annonce.caracteristiques.surfaceHabitable }}</span> m²</p>
                            <p class="adresseBien">{{ annonce.localisation.codePostal }} {{ annonce.localisation.ville }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>